header{
    width: 100%;
    overflow: hidden;
    background-color: skyblue;
    margin-bottom:8px;

}
header .logo {
    color: #666;
    font-size: 40px;
    line-height: 100px;
    float: left;
}

header nav { 
    float: right;
    line-height: 100px;
   

}
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
}
                        
/* body {
    background-image: url(imagenes/LOGO1920X1080.ico);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: center;
    background-position-y: center;
    background-color: white;

}*/


.wrapper {
    width: 90%; ;
    max-width: 1300px;
    margin:auto;
    overflow:hidden;   
}

.caja {
    position: relative;
    padding-top: 10px; 
    left: 50px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    width: 600px;
    height: 300px;
    padding: 30px;
    border: 1px solid skyblue;
    background: url(imagenes/abstract-pastel-background-vector.jpeg);
    border-radius:15px;
    margin-left: auto;
    margin-right: auto;
}

h3 { 
    font-size: medium; margin-left:20px ;
}

#validar {
    background-color: #28b766;
    color: white;
    text-align: center;
    border-radius: 30px;
    width: 200px;
    height: 35px;
    font-size: 18px;
    font-weight: bold;

}


    